@using ReformedHistory.Common.Services
@inject IdService ids

@{
    this.ViewData["Title"] = "Reformed History";
    
    var id = ids.GetUniqueId();
}

<div id="@id">
    <style>
        #@id {        
            .Content {
                max-width: calc(@CssConstants.MainContentWidth - 2rem);                  
                padding: 1rem;
                padding-bottom: 3rem;
                font-family: @Html.Raw(CssConstants.DocumentFont);
                margin-left: auto;
                margin-right: auto;
            }
            
            .Banner {
                width: 100%;
                background-color: @CssConstants.GoldColor;
                padding-top: 2rem;
                padding-bottom: 2rem;
                color: black;
                
                h1 {
                    font-size: 3em;
                    margin-bottom: 10px;
                }
                
                p {
                    font-size: 1.3em;
                    font-style: italic;
                }
            }
            
            .Intro {
                padding-top: 1rem;
            
                h2 {
                    font-family: @Html.Raw(CssConstants.DocumentFont);            
                    font-size: 2.2em;
                    margin-bottom: 20px;
                    text-align: center;
                }
                
                p {                
                    font-family: @Html.Raw(CssConstants.DocumentFont);
                    font-size: 1.2em;
                    line-height: 1.6;
                    margin-bottom: 20px;
                    text-align: justify;
                }
                
                .ExploreContainer {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }
                
                .Flourish {
                    width: 200px;
                    margin-top: 8rem;
                }
            }
            
            .Button {
                display: inline-block;
                padding: 10px 20px;
                font-size: 12pt;
                font-family: "Arial";
                color: white;
                background-color: @CssConstants.HeaderColor;
                border: none;
                border-radius: 3px;
                text-decoration: none;
                transition: background-color 0.3s ease;
            }

            .Button:hover {
                background-color: #343866;
                text-decoration: none !important;
            }

            @@media (prefers-color-scheme: dark) {
                .Banner {
                    color: @CssConstants.DarkModeTextColor;
                    background-color: #222;
                }            
            }
        }        
    </style>

    <div class="Banner">
        <div class="Content">
            <h1>Welcome to Reformed History</h1>
            <p>Providing high-quality access to the reformed tradition</p>
        </div>
    </div>

    <div class="Intro">
        <div class="Content">
            <h2>Our Mission</h2>
            <p>
                This site is dedicated to making the primary sources from the reformed tradition more widely
                accessible for those interested. We hope to help preserve the rich history of the reformed faith,
                from the ancient ecumenical councils of the early church to the many confessions of the reformation.
            </p>
            <p>
                Below you can explore our timeline of significant confessions, councils, and other documents from
                church history, organized by type, time period, and tradition.
            </p>
            <br />
            <div class="ExploreContainer">
                <a class="Button" href="~/Timeline" role="button">Explore the Timeline</a>
            </div>
        </div>
    </div>
</div>
