<!DOCTYPE html>
<html lang="en" style="scroll-padding-top: calc(@CssConstants.HeaderHeight + 1rem);">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ReformedHistory</title>

    <link rel="stylesheet" href="~/css/reset.css" asp-append-version="true" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap" rel="stylesheet">

    <!-- This is at the top because it is needed for styles to load correctly -->
    <script src="~/js/css-scope-inline.js" asp-append-version="true"></script>
</head>
<body>

<header>
    <nav class="TopNavigation">
        <img class="LeftFlourish" src="~/img/LeftFlourish.svg">
        <a class="SiteLink" href="~/">ReformedHistory.com</a>
        <div class="Expander"></div>
        <a href="~/Home">Home</a>
        <a href="~/Timeline/">Timeline</a>
        <img class="RightFlourish" src="~/img/RightFlourish.svg">
    </nav>
</header>

<main>
    @RenderBody()
</main>

<style>
    me {
        width: 100vw;
        height: 100vh;
        max-width: 100vw;
        max-height: 100vh;
        overflow-y: auto;
        position: relative;
        background-color: @CssConstants.BodyBackgroundColor;   
        padding-top: @CssConstants.HeaderHeight;
    
        main {
        }    
    
        header {
            width: 100%;
            height: @CssConstants.HeaderHeight;
            position: fixed;
            top: 0;            
            background-color: @CssConstants.HeaderColor;
            z-index: 1000;          
        }
        
        .TopNavigation {
            max-width: @CssConstants.MainContentWidth;
            margin-left: auto;
            margin-right: auto;
            padding-left: 1rem;
            padding-right: 1rem;
            height: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            position: relative;     
        
            .LeftFlourish, .RightFlourish {
                position: absolute;
                height: 1.25rem;
                width: auto;
            }
            
            .LeftFlourish {
                right: calc(100% + 1.5rem);
            }
            
            .RightFlourish {
                left: calc(100% + 1.5rem);
            }
            
            @@media (max-width: calc(@CssConstants.MainContentWidth + 350px)) {
                .LeftFlourish, .RightFlourish {
                    display: none;
                }
            }
            
            a {
                font-size: 16pt;
                line-height: 18pt;
                font-family: @Html.Raw(CssConstants.DocumentFont);   
                text-decoration: none;
                color: @CssConstants.HighlightColor;
                margin-right: 1.5rem;
                flex-grow: 0;
            }              
            
            a:last-of-type {
                margin-right: 0;
            }      
        
            a:hover {
                text-decoration: underline;
            }
            
            a.SiteLink {
                font-style: italic;
            }
            
            .Expander {
                flex-grow: 1;
            }    
        }                    
    }
</style>

<!-- Include the site's javascript -->
<script src="~/js/site.js" asp-append-version="true"></script>

<!-- Include htmx -->
<script src="~/js/htmx.js"></script>

@await RenderSectionAsync("Scripts", required: false)

</body>
</html>