@using Microsoft.AspNetCore.Mvc.TagHelpers
@using ReformedHistory.Views.Content
@inject ContentIndex content;
@model TimelineFilters

@{
    bool CanShowEvent(TimelineInfo.Event e) {
        if (this.Model is null) {
            return true;
        }

        if ((e.Tradition & this.Model.Tradition) == TimelineEventTradition.None) {
            return false;
        }

        if ((e.Type & this.Model.Type) == TimelineEventType.None) {
            return false;
        }

        if ((e.Era & this.Model.Era) == TimelineEventEra.None) {
            return false;
        }

        if (string.IsNullOrWhiteSpace(this.Model.TextSearch)) {
            return true;
        }
        
        var isMatch = e.Title.Contains(this.Model.TextSearch, StringComparison.InvariantCultureIgnoreCase)
                      || e.Description.Contains(this.Model.TextSearch, StringComparison.InvariantCultureIgnoreCase);

        return isMatch;
    }

    bool CanShowEra(TimelineInfo.EraBoundary e) {
        if (this.Model is null) {
            return true;
        }

        if ((e.Era & this.Model.Era) == TimelineEventEra.None) {
            return false;
        }

        return true;
    }
}

<div>
    <partial name="TimelineStart" />

    @foreach (var item in content.GetTimeline()) {
        if (item is TimelineInfo.Event e) {
            if (CanShowEvent(e)) {
                <partial name="TimelineEvent" model="e" />
            }
        }
        else if (item is TimelineInfo.EraBoundary era) {
            if (CanShowEra(era)) {
                <partial name="TimelineEra" model="era" />
            }
        }
    }

    <partial name="TimelineEnd" />
    
    <style>
        me {        
            .row {
                display: flex;
                justify-content: space-between;
                margin: auto;
                
                .left {
                    flex: 1;
                    position: relative;
                    max-width: @TimelineCss.LeftWidth;        
                    width: @TimelineCss.LeftWidth;              
                }
                
                .middle {
                    flex: 0 0 0;
                    position: relative;
                    min-width: @TimelineCss.MiddleWidth;        
                    width: @TimelineCss.MiddleWidth;                              
                }
                
                .right {
                    flex: 1;
                    position: relative;    
                }
            }    
            
            .line {
                height: 100%;
                width: @TimelineCss.LineThickness;
                background-color: @TimelineCss.LineColor;
                position: absolute;
                left: calc(1rem / 2 - @TimelineCss.LineThickness / 2);
            }
        }
    </style>
</div>