@using ReformedHistory.Common.Services
@model TimelineInfo.EraBoundary
@inject IdService ids

@{
    var id = ids.GetUniqueId();
}

<div id="@id">
    <div class="row spacingRow">
        <div class="left"></div>
        <div class="middle"><div class="line"></div></div>
        <div class="right"></div>
    </div>

    <div class="row titleRow">
        <div class="left">
            <div class="date">@Model.Date</div>
        </div>

        <div class="middle">
            <div class="line"></div>
        </div>

        <div class="right">
            <div class="title">@Model.Title</div>
        </div>
    </div>

    <div class="row">
        <div class="left">
            <div class="dashes"></div>
        </div>

        <div class="middle">
            <div class="line"></div>
        </div>

        <div class="right">
            <div class="dashes"></div>
        </div>
    </div>

    <div class="row spacingRow">
        <div class="left"></div>
        <div class="middle"><div class="line"></div></div>
        <div class="right"></div>
    </div>

    <style>
        #@id {
            --vertical-margin: 1rem;          

            .spacingRow {
                .middle {
                    height: var(--vertical-margin);
                }
            }

            .title {
                font-size: 20pt;
                line-height: 22pt;
                letter-spacing: 1pt;
                height: 100%;
                display: flex;
                align-items: center;
                text-align: left;
                margin-left: 1rem;
                text-wrap: balance;
                font-family: @Html.Raw(CssConstants.DocumentFont);
                font-weight: 550;
                font-style: italic;
                color: #7b0000;
            }

            .date {
                font-size: 18pt;
                height: 100%;
                display: flex;
                flex-direction: row-reverse;
                align-items: center;
                text-align: right;
                margin-right: 1rem;
                letter-spacing: 4pt;
                font-family: @Html.Raw(CssConstants.DocumentFont);
                color: #7b0000;
                font-style: italic;
            }

            .dashes {
                width: 100%;
                color: red;
                border-top: 2px dashed #7b0000;
                margin-top: 4pt;
            }

            @@media (prefers-color-scheme: dark) {
                .dashes {
                    color: #ff4040;
                    background-color: #ff4040;
                }
                .date {
                    color: #ff4040;
                }
                .title {
                    color: #ff4040;
                }
            }


        }
    </style>
</div>
