<div>
    <div class="row spacingRow">
        <div class="left"></div>
        <div class="middle"><div class="line"></div></div>
        <div class="right"></div>
    </div>
    
    <div class="row headerRow">
        <div class="left"></div>

        <div class="middle">
            <div class="line"></div>
            <div class="circle"></div>
        </div>

        <div class="right">
            <div class="title">The Very Foundations of the World</div>
        </div>
    </div>

    <style>
        me {
            --circle-diameter: 0.5rem;
            --vertical-margin: 1rem;
            
            .spacingRow {
                .middle {
                    height: var(--vertical-margin);
                }
            }
            
            .headerRow {                
                .middle {
                    display: flex;
                    align-items: center;
                    position: relative;
                    
                    .line {
                        position: absolute;
                        top: 0;
                        height: 50%;
                    }
                }
                
                .title {
                    font-size: 20pt;
                    line-height: 22pt;
                    letter-spacing: 1pt;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    text-align: left;
                    margin-left: 1rem;
                    text-wrap: balance;
                    font-family: "EB Garamond", serif;    
                    font-style: italic;                
                }                
            }
            
            .circle {
                width: calc(var(--circle-diameter) - 2 * @TimelineCss.LineThickness);
                height: calc(var(--circle-diameter) - 2 * @TimelineCss.LineThickness);
                background-color: @TimelineCss.LineColor;
                border-radius: 50%;
                border: @TimelineCss.LineThickness solid @TimelineCss.LineColor;
                margin: auto;
                z-index: 5;
            }
        }
    </style>
</div>
