@using ReformedHistory.Common.Services
@inject IdService ids
@{
    Layout = "TripleColumnLayout";

    var tableOfContentsId = ids.GetUniqueId();
    var detailsId = ids.GetUniqueId();
    var contentId = ids.GetUniqueId();
    var titleId = ids.GetUniqueId();
}

@section Title {
    <div id="@titleId">
        @await RenderSectionAsync("Title", false)
    </div>
}

@section Sidebar1 {
    <nav id="@tableOfContentsId">
        @await RenderSectionAsync("DocumentNavigation", false)

        <style>
            #@tableOfContentsId {
                font-family: "EB Garamond", serif;
                text-wrap: balance;
                width: auto;        
                color: black;
                max-width: calc(@CssConstants.MainContentWidth / 2);
                margin-left: auto;
                margin-right: auto;

                h1 {
                    font-size: 20pt;
                    padding-bottom: 1rem;
                    text-align: center;
                    background-color: @CssConstants.BodyBackgroundColor;
                    top: 0;
                }

                h2 {
                    font-size: 13pt;
                    line-height: 15pt;
                    font-weight: bold;
                    margin-bottom: 3pt;
                    margin-left: 3pt;
                }

                ol, ul {
                    list-style-position: inside;
                    list-style-type: decimal;
                    font-size: 13pt;
                    line-height: 15pt;
                    
                    li {
                        margin-bottom: 5pt;
                        padding-left: 3pt;
                    }
                }

                a {
                    color: black;
                    text-decoration: none;
                }

                a:hover {
                    text-decoration: underline;
                }
            }
        </style>
    </nav>
}

@section Sidebar2 {
    <div id="@detailsId">
        @await RenderSectionAsync("DocumentDetails", false)

        <style>
            #@detailsId {
                font-size: 13pt;
                line-height: 15pt;
                font-family: "EB Garamond", serif;
                text-wrap: balance;
                width: auto;
                max-width: calc(@CssConstants.MainContentWidth / 2);
                margin-left: auto;
                margin-right: auto;
                
                h1 {
                    font-size: 20pt;
                    line-height: 22pt;
                    padding-bottom: 1rem;
                    width: calc(100% - 2rem);
                    text-align: center;
                }

                img {
                    width: 100%;
                    margin-bottom: 1rem;
                    border-radius: 3px;
                }

                table {
                    margin-bottom: 1rem;
                    table-layout: fixed;
                    width: 100%;
                    
                    tr > td {
                        padding-bottom: 1rem;
                    }

                    tr > td:first-child {
                        font-weight: bold;
                    }
                }
            }
        </style>
    </div>
}

<div id="@contentId">
    @await RenderSectionAsync("DocumentContent", true)

    <style>
        #@contentId, #@titleId {
            font-size: 16pt;
            line-height: 1.25;
            font-family: "EB Garamond", serif;
            
            br {
                height: 1rem;
            }

            h1 {
                text-wrap: balance;
                font-size: 25pt;
                line-height: 27pt;
                font-weight: 550;
                margin-bottom: 2pt;
            }

            h2 {
                text-wrap: balance;
                font-size: 20pt;
                line-height: 22pt;
                font-weight: 550;
                margin-bottom: 2pt;
            }

            h3 {
                text-wrap: balance;
                font-size: 16pt;
                line-height: 18pt;
                font-style: italic;
            }

            h4 {
                font-weight: bold;
                margin-bottom: 12pt;
            }

            h5 {
                text-align: center;
                font-weight: bold;
                margin-bottom: 5pt;
            }
            
            p {
                text-align: justify;
            }

            ul, ol {
                list-style-position: inside;
                list-style-type: lower-roman;
                
                li  {
                    margin-bottom: 1rem;
                    text-align: justify;
                    
                    h1, h2, h3, h4 {
                        display: inline;
                    }
                }

                li::marker {
                    font-weight: bold;
                }
            }

            ul.decimal, ol.decimal {
                list-style-type: decimal;
            }

            table {
                width: 100%;
                text-align: center;
                font-style: italic;
                table-layout: fixed;
            }

            i {
                font-style: italic;
            }

            a {
                color: black;
                text-decoration: none;
                outline: none
            }

            a:hover {
                text-decoration: underline;
            }
        }
    </style>
</div>

<script>
    /*var refTagger = {
        settings: {
            bibleVersion: 'ESV'
        }
    };

    (function(d, t) {
        var n = d.querySelector('[nonce]');
        refTagger.settings.nonce = n && (n.nonce || n.getAttribute('nonce'));
        var g = d.createElement(t), s = d.getElementsByTagName(t)[0];
        g.src = 'https://api.reftagger.com/v2/RefTagger.js';
        g.nonce = refTagger.settings.nonce;
        s.parentNode.insertBefore(g, s);
    }(document, 'script'));*/
</script>